################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/YourCompany.MicroserviceTemplate/v16/Server/sqlite3
